{% extends 'base.html.twig' %}

{% block body %}

{#<form action="{{ path('login') }}" method="post">#}
    {#<label for="username">Username:</label>#}
    {#<input type="text" id="username" name="_username" value="{{ last_username }}" />#}

    {#<label for="password">Password:</label>#}
    {#<input type="password" id="password" name="_password" />#}

    {##}
        {#If you want to control the URL the user#}
        {#is redirected to on success (more details below)#}
        {#<input type="hidden" name="_target_path" value="/account" />#}
    {##}


    {#<button type="submit">login</button>#}
{#</form>#}
    <div class="d-flex justify-content-center">
        {#<div class="col-md-8">#}
            <form class="form-signin text-center" style="max-width: 330px; padding: 15px; width: 100%;" action="{{ path('login') }}" method="post">
                <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                {% if error %}
                    <p style="color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}
                <label for="inputEmail" class="sr-only">Username</label>
                <input type="text" id="username" name="_username" class="form-control" placeholder="Username" required="" autofocus="" value="{{ last_username }}">
                <label for="_password" class="sr-only">Password</label>
                <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required="">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-secondary btn-block" type="submit">Sign in</button>
            </form>
        {#</div>#}
    </div>

{% endblock %}