{% extends 'base.html.twig' %}

{% block title %}Customer Order Log{% endblock %}

{% block body %}
    <h1>
        <a href="{{ path('customer_show', {'id': customer.id}) }}" class="btn btn-outline-secondary"><i class="fa fas fa-arrow-left"></i></a>
        Order Log - {{ customer.firstName }} {{ customer.lastName }}
    </h1>

    <table class="table table-hover table-striped" id="customerOrderTable">
        <thead>
            <tr>
                <th>Order number</th>
                <th>Date</th>
                <th>Download Invoice</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.orderDate | date("m/d/Y") }}</td>
                <td><a href="{{ path('generate_customer_invoice', {'id': order.id}) }}" class="btn btn-success download-invoice" data-toggle="tooltip" title="Download Invoice No. {{ order.id }}"><i class="fas fa-receipt"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="clearfix" style="margin-bottom: 20px"></div>
{% endblock %}
