{% extends 'base.html.twig' %}

{% block title %}Customer Order Log{% endblock %}

{% block body %}
    <h1>
        <a href="{{ path('customer_index') }}" class="btn btn-outline-secondary"><i class="fa fas fa-arrow-left"></i></a>
        Order Log - {{ customer.firstName }} {{ customer.lastName }}
    </h1>

    <table class="table table-hover table-striped" id="customerOrderTable">
        <thead>
            <tr>
                <th>Order</th>
                {#<th>Product</th>#}
                {#<th>Quantity</th>#}
                {#<th>Cost</th>#}
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                {#<td>{{ order.product.name }}</td>#}
                {#<td>{{ order.productOrderQuantity }}</td>#}
                {#<td>{{ order.cost }}</td>#}
                <td>{{ order.orderDate | date("m/d/Y") }}</td>
                <td><button class="btn btn-success" data-toggle="tooltip" title="print invoice"><i class="fas fa-receipt"></i></button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="clearfix" style="margin-bottom: 20px"></div>
{% endblock %}
