{% extends 'base.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ pageTitle }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button class="btn btn-sm btn-outline-secondary back-page"><i class="fas fa-caret-left"></i> Back</button>
            <div class="dropdown float-right">
                <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ path('customer_order_log', {'id': customer.id}) }}"><i class="fas fa-history"></i> Order History</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('customer_purchase', {'id': customer.id}) }}"><i class="fas fa-cart-plus"></i> Place order</a>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover table-striped" >
        <tbody>
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ customer.id }}</td>#}
            {#</tr>#}
            <tr>
                <th>First Name</th>
                <td>{{ customer.firstName }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ customer.lastName }}</td>
            </tr>
            <tr>
                <th>Area</th>
                <td>{{ customer.area }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ customer.city }}</td>
            </tr>
            <tr>
                <th>Telephone Number</th>
                <td>{{ customer.telephoneNumber }}</td>
            </tr>
            <tr>
                <th>Shipping Method</th>
                <td>{{ customer.shippingMethod }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ customer.comments }}</td>
            </tr>
            <tr>
                <th>Risk</th>
                <td>{{ customer.risk }}</td>
            </tr>
            <tr>
                <th>Animals</th>
                <td>{{ customer.animals }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-warning btn-sm" href="{{ path('customer_edit', {'id': customer.id}) }}">Edit details</a>

    {{ include('customer/_delete_form.html.twig') }}

    <div class="clearfix" style="margin-bottom: 20px"></div>

{% endblock %}