{% extends 'base.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body %}
    <h1>
        <a href="{{ path('customer_index') }}" class="btn btn-outline-secondary"><i class="fa fas fa-arrow-left"></i></a>
        Customer - {{ customer.firstName }} {{ customer.lastName }}
        <a class="btn btn-dark float-right" href="{{ path('customer_purchase', {'id': customer.id}) }}"><i class='fas fa-euro-sign' aria-hidden='true'></i> Make Purchase</a>
    </h1>

    <table class="table" id="customerTable">
        <tbody>
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ customer.id }}</td>#}
            {#</tr>#}
            <tr>
                <th>FirstName</th>
                <td>{{ customer.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ customer.lastName }}</td>
            </tr>
            <tr>
                <th>Area</th>
                <td>{{ customer.area }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ customer.city }}</td>
            </tr>
            <tr>
                <th>TelephoneNumber</th>
                <td>{{ customer.telephoneNumber }}</td>
            </tr>
            <tr>
                <th>ShippingMethod</th>
                <td>{{ customer.shippingMethod }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ customer.comments }}</td>
            </tr>
            <tr>
                <th>Risk</th>
                <td>{{ customer.risk }}</td>
            </tr>
            <tr>
                <th>Animals</th>
                <td>{{ customer.animals }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-warning" href="{{ path('customer_edit', {'id': customer.id}) }}">Edit details</a>

    {{ include('customer/_delete_form.html.twig') }}

    <div class="clearfix" style="margin-bottom: 20px"></div>

{% endblock %}