{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    <h1>Products
    <span class="float-right"><a class="btn btn-success" href="{{ path('product_new') }}"><i class="fas fa-plus"></i> Create new</a></span>
    </h1>

    <table class="table table-striped table-bordered" id="productTable">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Name</th>
                <th>Artifact Number</th>
                <th>Catalogue Page</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Comments</th>
                <th>Stock</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                {#<td>{{ product.id }}</td>#}
                <td>{{ product.name }}</td>
                <td>{{ product.artifactNumber }}</td>
                <td>{{ product.cataloguePage }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.cost }}</td>
                <td>{{ product.comments }}</td>
                <td {% if product.stock < 5 %} bgcolor="#dc143c" class="text-white" {% endif %}>{{ product.stock }}</td>
                <td>
                    <div class="dropdown btn-group options-dropdown float-right" >
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cog"></i>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ path('product_show', {'id': product.id}) }}">View Product</a>
                            <a class="dropdown-item" href="{{ path('product_edit', {'id': product.id}) }}">Edit Product</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}