{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    <h1>Products
    <span class="float-right"><a class="btn btn-success" href="{{ path('product_new') }}"><i class="fas fa-plus"></i> Create new</a></span>
    </h1>

    <table class="table table-striped table-bordered" id="productTable">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Name</th>
                <th>Artifact Number</th>
                <th>Catalogue Page</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Comments</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                {#<td>{{ product.id }}</td>#}
                <td>{{ product.name }}</td>
                <td>{{ product.artifactNumber }}</td>
                <td>{{ product.cataloguePage }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.cost }}</td>
                <td>{{ product.comments }}</td>
                <td>{{ product.stock }}</td>
                <td class="text-center">
                    <a class="btn btn-secondary" href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}