{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1>
        <a href="{{ path('customer_index') }}" class="btn btn-outline-secondary"><i class="fa fas fa-arrow-left"></i></a>
        Order Log - {{ customer.firstName }} {{ customer.lastName }}
        <btn class="btn btn-outline-dark"><i class="fas fa-history"></i></btn>
        <a class="btn btn-dark float-right" href="{{ path('customer_purchase', {'id': customer.id}) }}"><i class='fas fa-euro-sign' aria-hidden='true'></i> Order</a>
    </h1>

    <table class="table table-hover table-striped" id="orderTable">
        <tbody>
        <tr>
            <th>Order</th>
            <td>{{ customer.firstName }}</td>
        </tr>
        <tr>
            <th>Customer</th>
            <td>{{ customer.lastName }}</td>
        </tr>
        <tr>
            <th>Product</th>
            <td>{{ customer.area }}</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>{{ customer.city }}</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>{{ customer.telephoneNumber }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-warning" href="{{ path('customer_edit', {'id': customer.id}) }}">Edit details</a>

    {{ include('customer/_delete_form.html.twig') }}

    <div class="clearfix" style="margin-bottom: 20px"></div>
{% endblock %}
