{% extends 'base.html.twig' %}

{% block title %}Order Log{% endblock %}

{% block body %}
    <h1>
        <a href="{{ path('purchase')}}" class="btn btn-outline-secondary"><i class="fa fas fa-arrow-left"></i></a>
        Order Log
    </h1>

    <table class="table table-hover table-striped" id="orderLogTable">
        <thead>
        <tr>
            <th>Order Number</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Download Invoice</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{% if order.customer.firstName is defined %} {{ order.customer.firstName }} {{ order.customer.lastName }}{% endif %}</td>
                <td>{{ order.orderDate | date("m/d/Y") }}</td>
                <td><a href="{{ path('generate_invoice', {'id': order.id}) }}" class="btn btn-success download-invoice float-right" data-toggle="tooltip" title="Download Invoice No. {{ order.id }}"><i class="fas fa-receipt"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="clearfix" style="margin-bottom: 20px"></div>
{% endblock %}
