{% extends 'base.html.twig' %}

{% block title %}Purchase{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        {% if customer is defined %}
            <h1 class="h2">Purchase - {{ customer.firstName }} {{ customer.lastName }}</h1>
        {% else %}
            <h1 class="h2">Purchase</h1>
        {% endif %}

        <div class="btn-toolbar mb-2 mb-md-0">
            <button class="btn btn-sm btn-outline-secondary back-page"><i class="fas fa-caret-left"></i> Back</button>
            <a class="btn btn-outline-secondary btn-sm" href="{{ path('order_log') }}" data-toggle="tooltip" title="Order History"><i class="fas fa-history"></i></a>
        </div>
    </div>

    <div class="dropdown float-right">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-shopping-basket"></i> View Basket <span class="badge badge-light basket-badge">0</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-cart" aria-labelledby="view-orders" style="max-height:700px;overflow:auto;width:600px;">
            <div class="card">
                <div class="card-header text-white bg-secondary">
                    Order Basket
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover" style="" id="order-basket">
                        <thead>
                        <th width="70px"></th>
                        <th>Name</th>
                        <th>Artifact No.</th>
                        <th>Quantity</th>
                        <th class="text-center">Cost (€)</th>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover table-bordered" id="customerPurchaseTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Artifact Number</th>
            {#<th>Catalogue Page</th>#}
            <th>Cost</th>
            <th>Availability</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }} </td>
                <td>{{ product.artifactNumber }} </td>
                {#<td>{{ product.cataloguePage }} </td>#}
                <td>{{ product.cost }} </td>
                <td {% if product.stock < 5 %} bgcolor="#dc143c" class="text-white" {% endif %}>{{ product.stock }} </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <button type="button" class="btn btn-default btn-number-minus" disabled="disabled" data-type="minus" data-field="quant[1]">
                              <i class="fas fa-minus"></i>
                            </button>
                        </span>
                        <input type="text" name="quant[1]" disabled="true" class="form-control input-number text-center" value="0" min="1" max="{{ product.stock }}" data-id="{{ product.id }}"
                                data-name="{{ product.name }}" data-artifact-number="{{ product.artifactNumber }}" data-catalogue-page="{{ product.cataloguePage }}"
                                data-cost="{{ product.cost }}">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-default btn-number-plus" data-type="plus" data-field="quant[1]" data-product-id="{{ product.id }}">
                               <i class="fas fa-plus"></i>
                            </button>
                        </span>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="float-right">
        <button class="btn btn-warning btn-sm" id="resetOrder"><i class="fas fa-sync-alt"></i> Reset Purchase</button>
        <button class="btn btn-success btn-sm" id="confirmOrder"><i class="fas fa-check"></i> Confirm Purchase</button>
    </div>

    <div class="clearfix"></div>

    <!-- Modal -->
    <div class="modal fade" id="confirmOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    {% if customer is defined %}
                        <h5 class="modal-title" id="exampleModalLongTitle">Confirm Purchase For - {{ customer.firstName }} {{ customer.lastName }}</h5>
                    {% else %}
                        <h5 class="modal-title" id="exampleModalLongTitle">Confirm Purchase</h5>
                    {% endif %}
                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                        {#<span aria-hidden="true">&times;</span>#}
                    {#</button>#}
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-hover" style="" id="confirm-order-basket">
                        <thead>
                        <th>Name</th>
                        <th>Artifact No.</th>
                        <th>Quantity</th>
                        <th>Cost</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {#  data-deduct-stock-url="{{ path('product_deduct_stock') }} #}
                    <button type="button" class="btn btn-success" id="sendOrder" {% if customer is defined %} data-customer-id="{{ customer.id }}" {% endif %} data-send-order-url="{{ path('order_create') }}"> Confirm</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

