<!DOCTYPE html>
<html>
    <head>
        {% block head_js %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
        {% block head_css %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
        <meta charset="UTF-8">
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <link rel="icon" href="{{ asset('assets/icons/favicon-bar-chart.ico') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>

    {% if is_granted('ROLE_ADMIN') %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark " style="margin-bottom: 30px;">
            {#<button class="btn btn-outline-warning">></button>#}
            <div class="dropdown" >
                <button type="button" class="btn btn-outline-warning" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-comment-alt warning fa-1x"></i>
                    {#<span class="caret yellow"></span>#}
                </button>
                <div class="dropdown-menu dropdown-menu-left dropdown-comment" role="menu" aria-labelledby="dropdownMenuButton">
                    {{ render(controller(
                        'App\\Controller\\CommentController::new'
                    )) }}
                </div>
            </div>

            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    {#<a class="navbar-brand" href="#">Petrou Farming</a>#}
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item {% if 'product' in app.request.uri %} active {% endif %}">
                            <a class="nav-link" href="/product">Products</a>
                        </li>
                        <li class="nav-item {% if 'customer' in app.request.uri %} active {% endif %}">
                            <a class="nav-link" href="/customer">Customers</a>
                        </li>
                        <li class="nav-item {% if 'purchase' in app.request.uri %} active {% endif %}">
                        <a class="nav-link" href="/purchase">Purchase</a>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <div class="input-group" style="width:300px;" >
                            <input type="text" id="search" href="{{ path('ajax_search') }}" class="form-control" id="item-search" placeholder="Search for customer..." autocomplete="off"/>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item" style="margin-right: 20px;">
                            <a class="nav-link"><i class="fas fa-user"></i> Welcome, {{ app.user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary" href="{{ path('logout') }}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    {% endif %}

        <div class="container main-container">
            {% for label, messages in app.flashes(['warning', 'danger', 'success']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        <strong>{{ label|capitalize }}!</strong> {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}
            {% endblock %}
        </div>

    </body>

    {% if is_granted('ROLE_ADMIN') %}

    <footer class="fixed-bottom">
        <div class="footer footer-copyright py-3 text-center bg-dark" style="overflow: hidden; color: white; font-size: .9rem;">
            © 2018 Copyright: Petrou Farming
            {#© 2018 Copyright: Petrou Farming#}
        </div>
    </footer>

    {% endif %}

</html>
